# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
build/
.next/
out/
*.tsbuildinfo

# Turbo
.turbo/

# Env
.env
.env.local
.env.*.local

# Prisma
packages/db/prisma/*.db

# Terraform
infra/terraform/**/.terraform/*
infra/terraform/**/*.tfstate
infra/terraform/**/*.tfstate.*
infra/terraform/**/*.tfvars
!infra/terraform/**/*.example.tfvars
infra/terraform/**/.terraform.lock.hcl

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# Coverage
coverage/
